body
{
    margin: 0 auto;
    padding: 20px 100px;
}

.poll
{
    float:left;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.poll ul
{
    list-style-type: none;
}

.poll ul li
{
    padding: 20px;
}

#font-choice
{
    margin-left: 30px;
}

#style1
{
}

#style2
{
}

#style3
{
}

#style4
{
}

.graph
{
    float:right;
}
